<div class="container analog-digital-container">
  <div class="row analog-digital-text">
    <div class="col-12">
      <span class="analog-digital-text">{{title}}</span>
    </div>
  </div>
  <div class="row analog-digital-clock">
    <div class="col-12 text-end">
      <app-settings></app-settings>
    </div>
    <div class="col-12 text-center">
      <span class="analog-digital-text">{{analogText}}</span>
    </div>
    <div class="col-12 text-center">
      <app-analog-clock></app-analog-clock>
    </div>
    <div class="col-12 text-center digital-clock-margin-top">
      <span class="analog-digital-text">{{digitalText}}</span>
    </div>
    <div class="col-12 text-center">
      <app-digital-clock></app-digital-clock>
    </div>
  </div>
</div>